<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpstracker">

    <!--mobile.gpstracker-->

    <!-- This permissions are here for accesing the google plus account -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- firebase database permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- povodna application cesta android.support.multidex.MultiDexApplication -->
    <application
        android:name="com.gpstracker.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner" />
        <!-- If you are using your own custom Application class then extend -->
        <!-- MultiDexApplication and change above line as -->
        <!-- android:name=".YourCustomApplicationClass"> -->


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->


        <!-- Splash screen -->
        <activity
            android:name="com.gpstracker.activities.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FB -->
        <!-- <activity android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges= -->
        <!-- "keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:label="@string/app_name" > -->
        <!-- </activity> -->


        <!-- Log in screen -->
        <activity
            android:name="com.gpstracker.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Register in screen -->
        <activity
            android:name="com.gpstracker.activities.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- DashboardActivity and activity -->
        <activity
            android:name="com.gpstracker.activities.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- Maps activity metadata. This was generated by default when project was created. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- FB API key -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Maps activity -->
        <activity
            android:name="com.gpstracker.activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:permission="PARTIAL_WAKE_LOCK"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- ChronometerActivity -->
        <activity
            android:name="com.gpstracker.activities.ChronometerActivity"
            android:label="@string/chronometer"
            android:permission="PARTIAL_WAKE_LOCK"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- SimpleDatabaseActivity -->
        <activity
            android:name="com.gpstracker.activities.SimpleDatabaseActivity"
            android:label="@string/simple_database"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- DetailOfRunActivity -->
        <activity
            android:name="com.gpstracker.activities.DetailOfRunActivity"
            android:label="@string/detail_of_run"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- SettingsActivity -->
        <activity
            android:name="com.gpstracker.activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- NotifyMeActivity -->
        <activity
            android:name="com.gpstracker.activities.NotifyMe"
            android:label="@string/notifyme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.gpstracker.data_clases.RunContentProvider"
            android:authorities="com.gpstracker.RunContentProvider" />

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.gpstracker.TrackingService"
            android:enabled="true"
            android:exported="false"
            />

        <!-- FirebaseInstanceIdService performs security checks at runtime,
     no need for explicit permissions despite exported="true"             -->
        <!-- [START firebase_service] -->
        <service android:name="com.gpstracker.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="com.gpstracker.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

    </application>

</manifest>